!!! 5
%html
  %head
    %title Github Preview
    %script{:type => "text/javascript", :src => "http://code.jquery.com/jquery-1.6.2.min.js"}
    %script{:type => "text/javascript", :src => "http://documentcloud.github.com/underscore/underscore-min.js"}
    %script{:type => "text/javascript", :src => "/scripts/app.js"}
    %link{:href => "/stylesheets/github.css", :rel => "stylesheet", :type => "text/css" }
  %body
    %div{:id => "header"}
      %h1 Github Preview
      %p
        Format: 
        %select{:id => "format", :name => "format"}
          %option markdown
          %option textile
          %option rdoc
          %option org
          %option creole
          %option mediawiki
        %a{:href => "https://github.com/kei-s/github-preview"} Source on Github
    %table{:cellspacing => "0", :cellpadding => "0", :style => "margin: 0; padding: 6px 6px 0; width: 100%;"}
      %tr
        %td{:style => "vertical-align: top; width: 50%;"}
          %textarea{:id => "text", :style => "width: 100%; height: 300px;"}
        %td{:id => "readme", :class => "announce", :style => "vertical-align: top; width: 50%; height: 300px"}
          %div{:id => "preview", :class => "wikistyle", :style => "margin: 1px 0 0 10px; padding: 0 0 0 10px;"}
